<a href="https://colab.research.google.com/github/mahirag/Machine-Learning/blob/main/Ensemble_Trees_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [20]:
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.model_selection import train_test_split
# Import the bagging regressor
from sklearn.ensemble import BaggingRegressor
# Import random forest Regressor
from sklearn.ensemble import RandomForestRegressor

In [21]:
filename = '/content/drive/My Drive/kc_house_data.csv'
df = pd.read_csv(filename)
df

               id             date  ...  sqft_living15  sqft_lot15
0      7129300520  20141013T000000  ...           1340        5650
1      6414100192  20141209T000000  ...           1690        7639
2      5631500400  20150225T000000  ...           2720        8062
3      2487200875  20141209T000000  ...           1360        5000
4      1954400510  20150218T000000  ...           1800        7503
...           ...              ...  ...            ...         ...
21608   263000018  20140521T000000  ...           1530        1509
21609  6600060120  20150223T000000  ...           1830        7200
21610  1523300141  20140623T000000  ...           1020        2007
21611   291310100  20150116T000000  ...           1410        1287
21612  1523300157  20141015T000000  ...           1020        1357

[21613 rows x 21 columns]

In [22]:
float()

0.0

In [27]:
df = pd.get_dummies(df, columns = ['date', ], drop_first = True)

In [28]:
# Arrange Data into Features Matrix and Target Vector
y = df['price']
X = df.drop(columns = 'price')
# Split the data for validation
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [29]:
bagreg = BaggingRegressor(random_state = 42)

In [30]:
bagreg

BaggingRegressor(base_estimator=None, bootstrap=True, bootstrap_features=False,
                 max_features=1.0, max_samples=1.0, n_estimators=10,
                 n_jobs=None, oob_score=False, random_state=42, verbose=0,
                 warm_start=False)

In [31]:
bagreg.fit(X_train, y_train)

BaggingRegressor(base_estimator=None, bootstrap=True, bootstrap_features=False,
                 max_features=1.0, max_samples=1.0, n_estimators=10,
                 n_jobs=None, oob_score=False, random_state=42, verbose=0,
                 warm_start=False)

In [32]:
bagreg.predict(X_test)

array([ 376015.,  823900., 1096790., ...,  272925., 2020750.,  301910.])

In [33]:
bagreg_train_score = bagreg.score(X_train, y_train)
bagreg_test_score = bagreg.score(X_test, y_test)
print(bagreg_train_score)
print(bagreg_test_score)

0.9768563409308696
0.8549968134630627

In [35]:
# Arrange Data into Features Matrix and Target Vector
y = df['price']
X = df.drop(columns = 'price')
# Split the data for validation
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [36]:
rf = RandomForestRegressor(random_state = 42)

In [37]:
# Looking at some hyperparameters that seem tunable
rf

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=42, verbose=0, warm_start=False)

In [38]:
rf.fit(X_train, y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=42, verbose=0, warm_start=False)

In [39]:
rf.predict(X_test)

array([ 375907.  ,  843828.1 , 1099358.37, ...,  279652.65, 1972988.2 ,
        314426.64])

In [40]:
rf_train_score = rf.score(X_train, y_train)
rf_test_score = rf.score(X_test, y_test)
print(rf_train_score)
print(rf_test_score)

0.9829313272396315
0.8652059235916127

In [41]:
rf_9 = RandomForestRegressor(max_depth = 9, random_state = 42)
rf_9.fit(X_train, y_train)
rf_9_train_score = rf_9.score(X_train, y_train)
rf_9_test_score = rf_9.score(X_test, y_test)
print(rf_9_train_score)
print(rf_9_test_score)

0.9174285337693349
0.8466024227754483

In [42]:
[estimator.get_depth() for estimator in rf.estimators_]

[44,
 43,
 41,
 42,
 57,
 39,
 42,
 45,
 40,
 42,
 45,
 42,
 37,
 38,
 41,
 47,
 38,
 39,
 36,
 49,
 41,
 43,
 36,
 44,
 38,
 47,
 44,
 37,
 41,
 39,
 40,
 42,
 35,
 39,
 46,
 37,
 43,
 46,
 37,
 41,
 41,
 39,
 43,
 44,
 37,
 38,
 38,
 44,
 43,
 41,
 41,
 39,
 38,
 42,
 37,
 38,
 39,
 42,
 39,
 39,
 42,
 50,
 42,
 43,
 41,
 48,
 43,
 43,
 38,
 36,
 40,
 44,
 42,
 36,
 39,
 40,
 43,
 37,
 40,
 40,
 43,
 39,
 50,
 38,
 38,
 37,
 41,
 42,
 42,
 44,
 45,
 43,
 46,
 47,
 44,
 37,
 45,
 48,
 44,
 38]

In [43]:
# Try 200 trees
rf_200 = RandomForestRegressor(n_estimators = 200, random_state = 42)
# Fit the model
rf_200.fit(X_train, y_train)
# Obtain the scores
rf_200_train_score = rf_200.score(X_train, y_train)
rf_200_test_score = rf_200.score(X_test, y_test)
print(rf_200_train_score)
print(rf_200_test_score)

0.9832355445808167
0.8662248299545823